extends layout

block content
    <body class="text-center" data-gr-c-s-loaded="true">
    <form class="form-signin" action="/users/login" method="post">
    <img class="mb-4" src="/images/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <input type="hidden" name="redirectUrl" value=#{redirectUrl}>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
    </body>
